/*  DEVELOPER.ONSIP.COM STYLESHEET
    ========================================

  Table of Contents
  -----------------

  1. Fonts
  2. Base Styles
  3. Typography
  4. Layout
  5. Links & Navigation
    5a. Top Navigation Bar
    5b. Main Navigation Bar
  6. Sidebar
  7. Code
  8. Lists & Tables

    ========================================  */



/*  1. FONTS
    ========================================  */

@font-face {
  font-family: 'FolioLightRegular';
  src: url('../fonts/folio-light-webfont.eot?') format('eot'),
    url('../fonts/folio-light-webfont.woff') format('woff'),
    url('../fonts/folio-light-webfont.ttf') format('truetype'),
    url('../fonts/folio-light-webfont.svg#FolioLightRegular') format('svg');
}
@font-face {
  font-family: 'FolioCondensedBold';
  src: url('../fonts/folio-boldcondensed-webfont.eot?') format('eot'),
    url('../fonts/folio-boldcondensed-webfont.woff') format('woff'),
    url('../fonts/folio-boldcondensed-webfont.ttf') format('truetype'),
    url('../fonts/folio-boldcondensed-webfont.svg#FolioCondensedBold') format('svg');
}
@font-face {
  font-family: 'FolioBold';
  src: url('../fonts/folio-bold-webfont.eot?') format('eot'),
    url('../fonts/folio-bold-webfont.woff') format('woff'),
    url('../fonts/folio-bold-webfont.ttf') format('truetype'),
    url('../fonts/folio-bold-webfont.svg#FolioBold') format('svg');
}
@font-face {
  font-family: 'FolioMedium';
  src: url('../fonts/folio-medium-webfont.eot?') format('eot'),
    url('../fonts/folio-medium-webfont.woff') format('woff'),
    url('../fonts/folio-medium-webfont.ttf') format('truetype'),
    url('../fonts/folio-medium-webfont.svg#FolioMedium') format('svg');
}
@font-face {
  font-family: 'KeplerRegular';
  src: url('../fonts/kepler_std-webfont.eot?') format('eot'),
    url('../fonts/kepler_std-webfont.woff') format('woff'),
    url('../fonts/kepler_std-webfont.ttf') format('truetype'),
    url('../fonts/kepler_std-webfont.svg#KeplerStdRegular') format('svg');
}
@font-face {
  font-family: 'KeplerMedium';
  src: url('../fonts/kepler_std_medium-webfont.eot?') format('eot'),
    url('../fonts/kepler_std_medium-webfont.woff') format('woff'),
    url('../fonts/kepler_std_medium-webfont.ttf') format('truetype'),
    url('../fonts/kepler_std_medium-webfont.svg#KeplerMedium') format('svg');
}
@font-face {
  font-family: 'KeplerStdItalic';
  src: url('../fonts/kepler_std_italic-webfont.eot?') format('eot'),
    url('../fonts/kepler_std_italic-webfont.woff') format('woff'),
    url('../fonts/kepler_std_italic-webfont.ttf') format('truetype'),
    url('../fonts/kepler_std_italic-webfont.svg#KeplerStdItalic') format('svg');
}


/*  2. BASE STYLES
    ========================================  */

/*  Remove margin & padding on all elements
 *  Fix box model  */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

header, footer, article, 
section, nav, figure{
  display: block;
}

body {
  font-family: 'FolioLightRegular',Arial,Helvetica,sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #506675;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

/*  3. TYPOGRAPHY
    ========================================  */

h1,h2,h3,h4,h5,h6 {
  font-family: 'FolioCondensedBold',Arial,Helvetica,sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0 0 .314em;
}

h2 {
  font-size: 36px;
  margin: 1.618em 0 .314em;
}

h3 {
  font-size: 24px;
  margin: 1em 0 .618em;
}

h4 {
  font-size: 18px;
  margin: 1em 0 .618em;
}

p {
  font-family: 'FolioLightRegular',Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 1em;
}

p.subtitle {
  font-family: 'FolioLightRegular',Arial,Helvetica,sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.618em;
  margin-bottom: 1em;
}

p, dd, li {
  max-width: 42em;
}


/*  4. LAYOUT
    ========================================  */


#siteHeader {
  height: 57px;
  margin-bottom: 40px;
  border-bottom: 3px solid #506675;
  background: url(../img/nav_bg.png) repeat-x;
}

.wrapper {
  width: 960px;
  overflow: auto;
  margin: 0 auto;
}

#mainContent {
  width: 730px;
  float: right;
}


/*  5. LINKS & NAVIGATION
    ========================================  */

a {
  color: #ff5a00;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

a.code:hover {
  text-decoration: none;
}

a.code:hover code {
  border-color: #ff5a00;
}

.horizontal li {
  float: left;
}
.left .horizontal li {
  margin-right: 1.618em;
}
.right .horizontal li {
  margin-left: 1.618em;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  padding: 0;
}

#logo {
  padding-top: 15px;
  float: left;
}

#mainNav {
  float: right;
  height: 54px;
  background: url(../img/nav_bg.png) repeat-x top left;
}

#mainNav a {
  display: block;
  height: 54px;
  padding: 0 1.5em;
  font: 18px/54px 'FolioCondensedBold',Arial,Helvetica,sans-serif;
  text-shadow: 0 1px 1px #fff;
  text-transform: uppercase;
  color: #7e8a8e;
}

#mainNav a:hover {
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  background: url(../img/nav-bg-over.gif) repeat-x;
}


/*  6. SIDEBAR
    ========================================  */

#sideNav {
  width: 186px;
  float: left;
}

.sidenav-section, .sidenav-subsection {
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
}

.sidenav-section {
  font: 14px/17px 'FolioMedium',Arial,Helvetica,sans-serif;
  color: #506675;
  border-bottom: 1px solid #506675;
}

.sidenav-submenu {
  display: none;
}

.active .sidenav-submenu {
  display: block;
}

.sidenav-section:hover, .active .sidenav-section {
  font: 14px/17px 'FolioBold',Arial,Helvetica,sans-serif;
  background: url(../img/arrow.png) no-repeat center right;
  text-decoration: none;
}

.sidenav-subsection {
  font: 12px/17px 'FolioLightRegular',Arial,Helvetica,sans-serif;
  color: #506675;
  margin-left: 20px;
  border-bottom: 1px solid #c1c1c1;
}

.sidenav-subsection:hover {
  font: 14px/17px 'FolioMedium',Arial,Helvetica,sans-serif;
  text-decoration: none;
}


/*  7. CODE
    ========================================  */

code, pre {
  font-family: 'Consolas', monospace;
}

/*  Inline code gets a box around it
    but not code in a table or headline  */
p code, li code {
  font-size: .9em;
  padding: 4px 6px 2px;
  background: #f4f6f7;
  border: 1px solid #cecece;
  border-radius: 3px;
}

/*  Extra spacing for paragraph code  */
p code {
  margin: 0 .1618em;
}

/*  Styles for code blocks only  */
pre {
  margin: 1.618em 0;
  padding: 1em 2em;
  font-size: .9em;
  background: #f4f6f7;
  border: 1px solid #cecece;
  border-radius: 3px;
}


/* 8. LISTS & TABLES
    ========================================  */

/*  Top level lists  */
ol, ul {
  margin: 0 0 2em 1.2em;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style: disc;
}
li {
  margin-bottom: .618em;
}

/*  Nested lists  */
li ol, li ul {
  margin: .618em 0 0 1.618em;
}
li ol{
  list-style: lower-roman;
}
li ul {
  list-style: circle;
}

/*  Definition List  */
dl {
  margin: 0 0 2em 0;
}
dt {
  font-family: 'FolioCondensedBold',Arial,Helvetica,sans-serif;
  font-size: 17px;
  letter-spacing: .02em;
}
dd {
  margin: 0 0 1em 1.618em;
  line-height: 1.618em;
}

table { 
  border-collapse: collapse;
  margin: 0 0 1.618em 0;
}
table, th, td {
  border: 1px solid #cecece;
}
th, td {
  padding: .618em 1em;
  text-align: left;
}
th {
  font-family: 'FolioCondensedBold',Arial,Helvetica,sans-serif;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: .02em; 
  background: #f4f6f7;
}

/*
 * Footer
 */
#footer {
  width: 960px;
  margin: 0 auto;
  font-family: 'FolioLightRegular',Arial,Helvetica,sans-serif;
}
.footer-navigation {
  text-align: center;
}
.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-nav a {
  color: #073146;
  font-size: 12px;
}
.footer-nav li {
  float: left;
}
.footer-left {
  float: left;
}
.footer-left li {
  margin-right: 28px;
}
.footer-right {
  float: right;
}
.footer-right li {
  margin-left: 28px;
}
.footer-logo {
  display: block;
  width: 74px;
  height: 24px;
  margin: 0 auto;
}
#footer p {
  width: 100%;
  text-align: center;
  max-width: none;
  font-size: 12px;
  color: #646464;
  padding-top: 45px;
  padding-bottom: 100px;
}

.footer-nav-links {
  width: 400px;
  float: left;
}
.footer-nav-logo {
  float: left;
  width: 160px;
}
.footer-rule {
  margin-top: 58px;
  border: none;
  padding-bottom: 40px;
  border-top: 1px solid #c0beb6;
}

/*
 * Homepage
 */
.feature {
  width: 960px;
  height: 242px;
  background: url(/shared/img/feature-bg.jpg) no-repeat left center;
  padding: 50px 0 0 0;
}
.feature h1 {
  text-align: center;
  margin-bottom: 20px;
}
.feature a {
  color: #fff;
  width: 299px;
  height: 51px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'FolioCondensedBold',Arial,Helvetica,sans-serif;
  font-size: 21px;
  line-height: 51px;
  background: url(/shared/img/button-large.png) no-repeat center center;
}
.highlights li {
  float: left;
  width: 320px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 20px;
}
.highlights h2 {
  text-transform: uppercase;
}
.highlights p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 30px;
}
.highlights a {
  width: 188px;
  height: 41px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'FolioCondensedBold',Arial,Helvetica,sans-serif;
  font-size: 21px;
  line-height: 41px;
  background: url(/shared/img/button-small.png) no-repeat center center;
  display: block;
  margin: 0 auto;
  text-align: center;
}