<%= render 'head' %>

<body class="guides">
  <%= render 'header' %>

  <div class="wrapper">

    <aside id="sideNav">
      <nav>
        <ul class="sidenav-menu nav">
          <li><a class="sidenav-section" href="/guides/">Overview</a></li>
          <li><a class="sidenav-section" href="/guides/useragentauthentication/">User Agent Authentication</a></li>
          <li><a class="sidenav-section" href="/guides/siproulette/">SIP Roulette Example Application</a></li>
        </ul>
      </nav>
    </aside>

    <article id="mainContent">
      <%= yield %>
    </article>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="sidebar-module">
          <ul>
            <li><h3><a href="/guides/">Overview</a></h3></li>
            <li><h3><a href="/guides/sipjsguide/">Sending Messages and Making Calls with SIP.js</a></h3></li>
            <li><h3><a href="/guides/useragentauthentication/">User Agent Authentication</a></h3></li>
            <li><h3><a href="/guides/onsipnetwork/">Receiving Calls and Messages Using the OnSIP Network</a></h3></li>
            <li><h3><a href="/guides/external-delivery/">Sending Traffic to Third-Party Applications</a></h3></li>
            <li><h3><a href="/guides/siproulette/">SIP Roulette Example Application</a></h3></li>
          </ul>
      </div>
    </div>
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
