<%= render 'head' %>

<body class="guides">
  <%= render 'header' %>

  <div class="sub-nav">
    <h2>Guides</h2>
    <ul>
      <li><a href="/guides/" class="active">Guides</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>

    <div id="js-sidebar" class="sidebar-shell">
      <div class="sidebar-module">
          <ul>
            <li><h3><a href="/guides/">Overview</a></h3></li>
            <li><h3><a href="/guides/sipjsguide/">Sending Messages and Making Calls with SIP.js</a></h3></li>
            <li><h3><a href="/guides/useragentauthentication/">User Agent Authentication</a></h3></li>
            <li><h3><a href="/guides/onsipnetwork/">Receiving Calls and Messages Using the OnSIP Network</a></h3></li>
            <li><h3><a href="/guides/siproulette/">SIP Roulette Example Application</a></h3></li>
          </ul>
      </div>
    </div>
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
