<%= render 'head' %>

<body class="guides">
  <%= render 'header' %>

  <div class="wrapper">

    <aside id="sideNav">
      <nav>
        <ul class="sidenav-menu nav">
          <li><a class="sidenav-section" href="/guides/">Overview</a></li>
          <li><a class="sidenav-section" href="/guides/useragentauthentication/">User Agent Authentication</a></li>
          <li><a class="sidenav-section" href="/guides/siproulette/">SIP Roulette Example Application</a></li>
        </ul>
      </nav>
    </aside>

    <article id="mainContent">
      <%= yield %>
    </article>

  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
