<header id="siteHeader">
  <div class="wrapper">
    <a href="/" id="logo">
      <img src="/shared/img/dev-logo.png" alt="Onsip Developer">
    </a>
    <nav id="mainNav">
      <ul class="nav horizontal right">
        <li><a href="/WebAPI/">API</a></li>
        <li><a href="/guides/">Guides</a></li>
        <li><a href="http://www.onsip.com/blog">Blog</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/sip_js">Support</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>