<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/WebAPI/">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/WebAPI/#authentication/">Authentication</a></li>
          <li><a href="/WebAPI/#request-format/">Request Format</a></li>
          <li><a href="/WebAPI/#xml-response-format/">XML Response Format</a></li>
          <li><a href="/WebAPI/#json-response-format/">JSON Response Format</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/WebAPI/Authentication/">Authentication</a></h3>
        <ul class="js-guides">
          <li><a href="/WebAPI/Authentication/#sessioncreate">SessionCreate</a></li>
          <li><a href="/WebAPI/Authentication/#sessiondestroy">SessionDestroy</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/WebAPI/Test/">Testing</a></h3>
        <ul class="js-guides">
          <li><a href="/WebAPI/Test/#noop">NoOp</a></li>
          <li><a href="/WebAPI/Test/#echo">Echo</a></li>
        </ul>
      </li>
    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://onsip.com/onsip/developer.onsip.com" target="_blank">public OnSIP repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
  <div class="sidebar-module api-status"><a href="https://status.onsip.com" class="unknown">API Status</a></div>
</div><!-- /sidebar-shell -->
