<aside id="sideNav">
  <nav>
    <ul class="sidenav-menu nav">
      <li>
        <a class="sidenav-section" href="/WebAPI/">Overview</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/#hierarchy">Hierarchy</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/#roles">Roles</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/#authentication">Authentication</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/#request-format">Request Format</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/#xml-response-format">XML Response Format</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/#json-response-format">JSON Response Format</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Authentication/">Authentication</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Authentication/#session-create">Creating a Session</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Authentication/#session-destroy">Destroying a Sessions</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Authentication/#stateless-requests">Making Stateless Requests</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Accounts/">Accounts</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Accounts/#account-read">Account Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Accounts/#account-edit-contact">Account Edit Contact</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Accounts/#account-credit-add">Account Credit Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Accounts/#account-recharge">Account Recharge</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Accounts/#account-invoice-read">Account Invoice Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Accounts/#account-invoice-browse">Account Invoice Browse</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Agent/">Agent</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Agent/#agent-add-account">Agent Add Account</a></li>
        </ul>
      </li>

      <li>
        <a class="sidenav-section" href="/WebAPI/Organizations/">Organizations</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Organizations/#organization-add">Organization Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Organizations/#organization-read">Organization Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Organizations/#organization-browse">Organization Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Organizations/#organization-edit-contact">Organization Edit Contact</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Organizations/#organization-migrate-domain">Organization Migrate Domain</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Users/">Users</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-add">User Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-read">User Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-browse">User Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-edit-contact">User Edit Contact</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#send-password-reset-email">Send Password Reset Email</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-reset-portal-password">User Reset Portal Password</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-edit-portal-password">User Edit Portal Password</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Users/#user-edit-role-submit">User Edit Role Submit</a></li>
        </ul>
      </li>
      

      <li>
        <a class="sidenav-section" href="/WebAPI/User-Addresses/">User Addresses</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/User-Addresses/#user-address-add">User Address Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Addresses/#user-address-read">User Address Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Addresses/#user-address-browse">User Address Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Addresses/#user-address-delete">User Address Delete</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Addresses/#user-address-edit">User Address Edit</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/User-Aliases/">User Aliases</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/User-Aliases/#user-alias-add">User Alias Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Aliases/#user-alias-read">User Alias Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Aliases/#user-alias-browse">User Alias Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Aliases/#user-alias-delete">User Alias Delete</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/User-Aliases/#user-alias-edit">User Alias Edit</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Phone-Numbers/">Phone Numbers</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Phone-Numbers/#npa-nxx-browse">NPA NXX Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Phone-Numbers/#did-request">DID Request</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Phone-Numbers/#did-edit">DID Edit</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Call-Detail-Records/">Call Detail Records</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Call-Detail-Records/#cdr-browse">CDR Browse</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Voicemail/">Voicemail</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Voicemail/#voicemailbox-add">Voicemailbox Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Voicemail/#voicemailbox-read">Voicemailbox Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Voicemail/#voicemailbox-browse">Voicemailbox Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Voicemail/#voicemailbox-delete">Voicemailbox Delete</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Voicemail/#voicemailbox-edit">Voicemailbox Edit</a></li>
        </ul>
      </li>
      

      <li>
        <a class="sidenav-section" href="/WebAPI/Ring-Groups/">Ring Groups</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Ring-Groups/#group-address-add">Group Address Add</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Ring-Groups/#group-address-read">Group Address Read</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Ring-Groups/#group-address-browse">Group Address Browse</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Ring-Groups/#group-address-delete">Group Address Delete</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Ring-Groups/#group-address-edit">Group Address Edit</a></li>
        </ul>
      </li>
      
      <li>
        <a class="sidenav-section" href="/WebAPI/Miscellaneous/">Miscellaneous</a>
        <ul class="sidenav-submenu nav">
          <li><a class="sidenav-subsection" href="/WebAPI/Miscellaneous/#noop">NoOp</a></li>
          <li><a class="sidenav-subsection" href="/WebAPI/Miscellaneous/#echo">Echo</a></li>
        </ul>
      </li>
    
    </ul>
  </nav>
</aside>

<!-- restyle
<div class="sidebar-module notice">
  <p>This website is a <a class="sidenav-subsection" href="https://onsip.com/onsip/developer.onsip.com" target="_blank">public OnSIP repository</a>. Please help us by forking the project and adding to it.</p>
</div>
-->

<!--<div class="sidebar-module api-status"><a class="sidenav-subsection" href="https://status.onsip.com" class="unknown">API Status</a></div>-->