<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/WebAPI/">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/WebAPI/#user-authentication/">User Authentication</a></li>
          <li><a href="/WebAPI/#encoding/">Encoding</a></li>
          <li><a href="/WebAPI/#terms-of-use/">Terms of Use</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn"></a><a href="/WebAPI/Test/">Test</a></h3>
        <ul class="js-guides">
          <li><a href="/WebAPI/activity/events/">Events</a></li>
          <li><a href="/WebAPI/activity/events/types/">Event Types</a></li>
          <li><a href="/WebAPI/activity/feeds/">Feeds</a></li>
          <li><a href="/WebAPI/activity/notifications/">Notifications</a></li>
          <li><a href="/WebAPI/activity/starring/">Starring</a></li>
          <li><a href="/WebAPI/activity/watching/">Watching</a></li>
        </ul>
      </li>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://onsip.com/onsip/developer.onsip.com" target="_blank">public OnSIP repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
  <div class="sidebar-module api-status"><a href="https://status.onsip.com" class="unknown">API Status</a></div>
</div><!-- /sidebar-shell -->
